{% extends 'layout.html' %}
{% block content %}
	<h4 class="pt2">Building New Patch</h4>
	<div class="border-top pt-2"></div>
	<form method="POST" action="" class="pt-3" >
		{{ form.hidden_tag() }}

	<!--Patch Id-->	
	<div class="form-group row">
    	<label class="col-sm-2 col-form-label">Patch ID</label>
    	<div class="col-sm-10">
    		{{form.patch_id(class="form-control",value=patchid)}}
    	</div>
  	</div>

  	<!--Patch Name-->
  	<div class="form-group row">
    	<label class="col-sm-2 col-form-label">Patch Name</label>
    	<div class="col-sm-10">
    		{{form.patch_name(class="form-control")}}
    	</div>
  	</div>

  	<!--Patch Description-->
	<div class="form-group row">
    	<label class="col-sm-2 col-form-label">Description</label>
    	<div class="col-sm-10 ">
    		{{form.patch_description(class="form-control")}}
    	</div>
  	</div>

  	<!--OS Arch-->
  	 <div class="form-group row">
    <label class="col-sm-2 col-form-label">Architecture</label>
    <div class="col-sm-10">
      {{form.os_type(class="form-control")}}
    </div>
  </div>

  <!--Minumum Maximum Build-->
  <p class="pt-3">Minimum and Maximum Build Version
  	<br>
  	<small>Please check the above checkbox for making the Min-Max script into effect.<br>
    Please mention Minimum and Maximum Build version.This makes patch to work between the mentioned Build versions.<br>
  		In order to skip this section please mention <b>' 01 '</b> values in both fields.
  	</small>
  </p>
  <div class="form-group row">
  	<div class="col-sm-6">
      {% if form.min_img_build.errors %}
        {{form.min_img_build(class="form-control is-invalid",placeholder="Minimum Build Version")}}
        <div class="invalid-feedback">
          {% for error in form.min_img_build.errors %}
            <span>{{error}}</span>
          {% endfor %}
        </div>
      {% else %}
        {{form.min_img_build(class="form-control",placeholder="Minimum Build Version")}}
      {% endif %}  
    </div>
  </div>
  <div class="form-group row">
    <div class="col-sm-6">
      {% if form.min_img_build.errors %}
        {{form.max_img_build(class="form-control is-invalid",placeholder="Maximum Build Version")}}
        <div class="invalid-feedback">
          {% for error in form.min_img_build.errors %}
            <span>{{error}}</span>
          {% endfor %}
        </div>
      {% else %}
        {{form.max_img_build(class="form-control",placeholder="Maximum Build Version")}}
      {% endif %}
      
    </div>
  </div>

  <!--Add Packages-->
  <p>Adding Files and Packages
    <br><small>List all the URL's of Files and Packages to be added. Use semicolon ' ; ' as a seprator.<br>Prefixes : <b>boot-, core-, basic-, apps-, data-, root- and tmp-</b>.</small></p>
  <div class="form-group row">
    <div class="col-sm-10">
      {{form.add(class="form-control",placeholder='Example : apps-http://192.168.0.188/abc.sq;boot-http://192.168.0.188/initramfs.igz')}}
    </div>
  </div>

 <!--Deleting Packages-->
 <p>Remove Files and Packages
  <br><small>List all the Files and Packages to be removed. Use colon ' : ' as a seprator.<br>Prefixes : <b>boot-, core-, basic-, apps-, data- and root-</b>.</small></p>
  <div class="form-group row">
    <div class="col-sm-10">
      {{form.remove(class="form-control",placeholder='Example : apps-abc.sq:boot-kernel')}}
    </div>
  </div>

  <!--Install Script-->
  <p>Install Script 
  <br><small>Write your custom install script. Use semicolon ' ; ' after the end of each line.</small></p>
  <div class="form-group row">
    
    <div class="col-sm-10">
      {{form.install_script(class="form-control",placeholder="All Packages and Files will be removed and added after reboot in initramfs. Here All the operations will be done before reboot of the OS.")}}
    </div>
  </div>
  <div class="border-top pt-2"></div>
  <div class="form-group row">
    <div class="col-sm-5">
       {{form.submit(class="btn btn-primary")}}
       <a class="btn btn-warning" href="{{url_for('home')}}" role="button">Cancel</a>
    </div>
  </div>
</form>
{% endblock content %}