{% extends 'layout.html' %}
{% block content %}
	<h4 class="pt-1"> Patch History
	<a href="{{url_for('build_new_patch')}}" class="btn btn-success btn-sm float-right">Build New Patch</a></h4>
	<div class="border-top pt-2"></div>
	{% if patch_count == 0 %}
		<p class="h4 text-info">No Patch History Found !!</p>
	{% else %}
		{% for patches in patch.items %}
			<div class="card mb-3">
				<div class="card-header">
					{{patches.patchname}} [ {{patches.patchgenid}} ]
				</div>
				<div class="card-body">
					<p class="card-text">{{ patches.description | safe }}</p>
				</div>
				<div class="card-footer text-muted">
					Patch Build on : {{ patches.date_posted.strftime('%d-%m-%Y')}} | MD5SUM : {{patches.md5sum}}
				</div>
			</div>
		{% endfor %}
		<div class="rounded-0 col-lg-13 mx-auto">
    		{% for page_num in patch.iter_pages(left_edge=1,right_edge=1,left_current=1,right_current=2) %}
      			{% if page_num %}
        			{% if patch.page == page_num %}
          				<a class="btn btn-info mb-4 mt-2" href="{{ url_for('home',page=page_num)}}">{{ page_num }}</a>
        			{% else %}
          				<a class="btn btn-outline-info mb-4 mt-2" href="{{ url_for('home',page=page_num)}}">{{ page_num }}</a>
        			{% endif %}  
      			{% else %}
        			...
      			{% endif %}
    		{% endfor %}
   		</div>	
	{% endif %}
{% endblock content %}